Server: null
Synctask: []
CollectionSyncTask: null
Env:
  tmdb_api: xxxxxxxxxxxxxxxx
  concurrent_num: 100
  proxy:
    isproxy: false
    http: http://user:pass@ip:port
  use_2fa: false
  users:
  - username: admin
    password: admin
